@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS: Customize */
@layer base {
  /* Style your serif font here. */
  .serif {
    font-family: serif;
  }

  /* Style your sans font here. */
  .sans-serif {
    font-family: sans-serif;
  }

  /* Style your display font here. */
  .display {}

  /* Style your interface font here. */
  .interface {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

/* DEFAULT BODY FONT */
@layer base {
  html, body {
    @apply font-size-sm interface;
  }
}

/* LINKS */
@layer base {
  a {
    @apply underline;
    color: inherit;
    text-decoration: none;
  }
  
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #0070f3;
  }
  
  /* If the user can hover, transition in by default. */
  @media (hover: hover) {
    a {
      transition: 300ms;
      text-decoration: underline;
      text-decoration-color: transparent;
    }
  
    a:hover {
      text-decoration-color: inherit;
    }
  }
}

/* FONT SIZES */
@layer base {
  .font-size-1 {
    @apply text-4xl sm:text-5xl 2xl:text-6xl 4xl:text-8xl;
  }

  .font-size-2 {
    @apply text-2xl sm:text-4xl 2xl:text-5xl 4xl:text-6xl;
  }

  .font-size-3 {
    @apply text-xl sm:text-2xl 2xl:text-4xl 4xl:text-5xl;
  }

  .font-size-base {
    @apply text-lg sm:text-xl 2xl:text-2xl 4xl:text-3xl;
  }

  .font-size-sm {
    @apply text-base 2xl:text-lg 4xl:text-2xl;
  }

  .font-size-xs {
    @apply text-sm 2xl:text-base 4xl:text-lg;
  }
}

/* HEADINGS */
@layer base {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    @apply font-bold display;
    @apply pb-2 leading-snug;
  }

  h1, .h1 {
    @apply font-size-1;
  }

  h2, .h2 {
    @apply font-size-2;
  }

  h3, .h3 {
    @apply font-size-3;
  }

  h4, .h4 {
    @apply font-size-base;
  }

  h5, .h5 {
    @apply font-size-sm;
  }

  h6, .h6 {
    @apply font-size-xs;
  }

  .title {
    @apply mt-2 display font-bold;
  }

  .title p {
    @apply p-0 m-0;
  }
}

/* FLEX */
@layer base {
  /**
   * A container that fills its parent.
   */
  .expanded {
    @apply h-full w-full;
  }
  /**
   * Flex container that fills its content.
   */
  .filled {
    @apply flex flex-1 items-stretch;
  }
  /**
   * A pure-flex container will be display: flex.
   */
  .pure-flex {
    @apply flex;
  }
  /**
   * And its immediate children will have zero padding and margin.
   */
  .pure-flex > * {
    @apply m-0 p-0;
  }
  /*
   * A flex container centered along both axes.
   */
  .flex-center {
    @apply flex justify-center items-center;
  }
  /**
   * Center flex and text.
   */
  .center {
    @apply flex-center text-center;
  }
}

/* CONTENT */
@layer base {
  code {}

  main {
    @apply p-8 flex-col filled flex-center;
  }

  header {
    z-index: 9999;
  }

  footer {
    @apply flex-center py-4 border-t-2 border-gray-200;
  }

  article {
    @apply font-size-base serif mx-auto;
    @apply max-w-screen-sm lg:max-w-screen-lg 2xl:max-w-screen-2xl 4xl:max-w-screen-4xl;
  }
}

/* FORMS */
@layer base {
  button, .button {
    text-decoration: none !important;
    @apply cursor-pointer;
    @apply pure-flex flex-center;
    @apply px-8 py-4;
    @apply rounded-lg border-2;
    @apply bg-blue-500 text-white font-bold;
  }

  label {
    @apply p-4 font-light;
  }
  
  input {
    @apply border-2 border-gray-300 rounded-lg;
    @apply p-2;
  }
  
  select {
    @apply bg-white;
    @apply border-2 border-gray-300 rounded-lg;
    @apply p-2;
  }
  
  /* Buttons already signal that the user can interact by touching. */
  button, .button {
    text-decoration: none !important;
    @apply cursor-pointer;
    @apply pure-flex flex-center;
    @apply px-8 py-4;
    @apply rounded-lg border-2;
    @apply bg-blue-500 text-white font-bold;
  }
}

/* TABLES */
@layer base {
  table {
    @apply mx-auto w-full;
  }
  
  table tr, table tr div {
    @apply truncate;
  }
  
  table tr:nth-child(even) {
    /* @apply bg-gray-400; */
  }
}

@import './elements/index.css';
@import './viewport/index.css';
@import './custom/index.css';