/*
 * Ensure the page fills the viewport. Prevent purgecss from removing this
 * styling, which it likes to do for the #__next selector.
 */
html, body, #__next {
  @apply m-0 p-0 box-border;
  @apply min-h-screen;
  @apply w-full h-full;
}